@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {

    --max_width_xl: 120rem;
    --font-text: "Instrument Sans", sans-serif;

    /* Color */
    --color-text: #848484;

    --banner-min-width: 30vh;

}

img {
    max-width: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.header__logo{
    max-width: 8rem;
}   

.header {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max_width_xl);
}

.header_menu {

    & ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 3rem;
    }
    
    & ul li {
        font-family: var(--font-text);
        font-size: 13px;
    }

    & ul li:hover {
        color: #77875B;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.main_section {
    display: grid;
    grid-template-columns: repeat(6, 19.4rem);
    grid-auto-rows: 19.4rem;
    gap: .5rem;

    & .image-3 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }

    & .image-5 {
        grid-column: 5 / span 2;
        grid-row: 1 / span 2;
    }

    & .image-9 {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
    }

    & .image-12 {
        grid-column: 5 / 6;
        grid-row: 3 / span 2;
    }

    & .image-17 {
        grid-column: 1 / span 2;
    }
}


.second_section {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 87px 0 61px 0;
    gap: 1rem;
}
.content {
    width: 400px;
    & p {
        font-family: var(--font-text);
        color: var(--color-text);
        text-align: center;
    }
}

footer{
    padding: 2rem;
    font-family: var(--font-text);
    color: var(--color-text);
    text-align: center;
}

.hero-banner--small {
    background-image: url(../media/Masonry-list-img-20-500x500.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    min-height: var(--banner-min-width);

}